In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/Amulya/Desktop/EventsDataAnalysis/Task1/Results/RequiredDataSet.csv',header=None, names=['booking_date','channel','property_id','room_name','room_id','check_in','check_out','room_rate','booking_status'])
#data = pd.read_json('/Users/Amulya/Desktop/data3.json')
data.head()

,booking_date,channel,property_id,room_name,room_id,check_in,check_out,room_rate,booking_status
0,2013-06-30T16:35:42+05:30,DIRECT,CH,Superior Room,ST,2013-07-08,2014-04-15,0.0,COMPLETED
1,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
2,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
3,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
4,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED

In [2]:
data['booking_date'] = data['booking_date'].str.extract('(....-..-..)', expand=True)
data['booking_date'].head()

0    2013-06-30
1    2013-02-08
2    2013-02-08
3    2013-02-08
4    2013-02-08
Name: booking_date, dtype: object

In [ ]:
# The below comment lines are script to generate stay date from check_in n check_out dates. 
# Since it takes hours i have saved the data into excel

In [4]:
# res=[]
# final=[]
# for i in range(len(data)):
#     res.append(pd.date_range(data.iloc[i][5] , data.iloc[i][6]))
#     final.append(res[i][:-1])

In [5]:
# stay = [item for sublist in final for item in sublist]

In [ ]:
# Results = pd.DataFrame(index=np.arange(0, 0),columns=('Booking_date','Booking_status' ,'Channel','Check_in' ,'Check_out', 'Property_id', 'Room_details','Room_name','Room_rate'))
# for i in range(len(final)):
#     Results=Results.append([data.iloc[i]]*len(final[i]), ignore_index=True)

In [7]:
# Results['Stay_date'] = stay

In [9]:
#Results.to_excel('/Users/Amulya/Desktop/EventsDataAnalysis/Task1/Results/DataSetWithStayDate.xlsx')

In [47]:
Results = pd.read_excel('/Users/Amulya/Desktop/EventsDataAnalysis/Task1/Results/DataSetWithStayDate.xlsx')

In [48]:
Results.head()

,Booking_date,Booking_status,Channel,Check_in,Check_out,Property_id,Room_details,Room_name,Room_rate,Stay_date
0,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-08
1,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-09
2,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-10
3,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-11
4,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-12

In [49]:
Results['Booking_date'] = Results['Booking_date'].str.extract('(....-..-..)', expand=True)
Results['Booking_date'].head()

0    2013-06-30
1    2013-06-30
2    2013-06-30
3    2013-06-30
4    2013-06-30
Name: Booking_date, dtype: object

In [50]:
Results['room_counts'] = 1
property_counts = Results[['Stay_date','room_counts']].groupby(['Stay_date']).agg(np.sum)
#data.drop_duplicates()
property_counts.head()

            room_counts
Stay_date
2013-07-08            1
2013-07-09            1
2013-07-10            1
2013-07-11            1
2013-07-12            1

In [51]:
property_counts = property_counts.reset_index()
property_counts.head()

    Stay_date  room_counts
0  2013-07-08            1
1  2013-07-09            1
2  2013-07-10            1
3  2013-07-11            1
4  2013-07-12            1

In [52]:
property_counts = property_counts[(property_counts.Stay_date >= '2015-01-01') & (property_counts.Stay_date <= '2016-12-31')]
property_counts.head()

      Stay_date  room_counts
542  2015-01-01          789
543  2015-01-02          760
544  2015-01-03          716
545  2015-01-04          699
546  2015-01-05          615

In [53]:
property_counts = property_counts.reset_index()

In [54]:
property_counts.head()

   index   Stay_date  room_counts
0    542  2015-01-01          789
1    543  2015-01-02          760
2    544  2015-01-03          716
3    545  2015-01-04          699
4    546  2015-01-05          615

In [55]:
del property_counts['index']

In [56]:
property_counts.head()

    Stay_date  room_counts
0  2015-01-01          789
1  2015-01-02          760
2  2015-01-03          716
3  2015-01-04          699
4  2015-01-05          615

In [57]:
Arr = Results["Room_rate"].mean()
Arr

26557.91643513028

In [58]:
Results['counts'] = 1
pickup = Results[['Property_id','Booking_date','counts']].groupby(['Property_id','Booking_date']).count()
pickup.head()

                          counts
Property_id Booking_date
AA          2015-08-25         6
AM          2015-08-25         1
BB          2012-07-15        36
            2012-09-13        18
            2013-02-08       360

In [59]:
len(pickup)

12893

In [60]:
pickup = pickup.reset_index()
# del pickup['index']
# del pickup['level_0']
pickup.head()

  Property_id Booking_date  counts
0          AA   2015-08-25       6
1          AM   2015-08-25       1
2          BB   2012-07-15      36
3          BB   2012-09-13      18
4          BB   2013-02-08     360

In [61]:
pickup = pickup[(pickup.Booking_date >= '2015-01-01') & (pickup.Booking_date <= '2016-12-31')]

In [62]:
pickup.head()

    Property_id Booking_date  counts
0            AA   2015-08-25       6
1            AM   2015-08-25       1
427          BB   2015-01-01      18
428          BB   2015-01-02      79
429          BB   2015-01-03       4

In [63]:
pickup = pickup.reset_index()
pickup.head()

   index Property_id Booking_date  counts
0      0          AA   2015-08-25       6
1      1          AM   2015-08-25       1
2    427          BB   2015-01-01      18
3    428          BB   2015-01-02      79
4    429          BB   2015-01-03       4

In [64]:
del pickup['index']
pickup.head()

  Property_id Booking_date  counts
0          AA   2015-08-25       6
1          AM   2015-08-25       1
2          BB   2015-01-01      18
3          BB   2015-01-02      79
4          BB   2015-01-03       4

In [68]:
property_list=pickup['Property_id'].unique().tolist() #to get unique property ids for further filteration

finaldf=pd.DataFrame() #new dataframe to append results
for pid in property_list: #iteration through each pid
    newdf = pickup[(pickup['Property_id']== pid)]  #considering each pid
    newdf = newdf.sort_values(by=['Booking_date'], ascending=[True])  #sorting the date values
    newdf.set_index('Booking_date', inplace=True)  #to make booking_date as default index
    newdf.index = pd.DatetimeIndex(newdf.index)
    newdf = newdf.reindex(pd.date_range("2015-01-01", "2016-12-31"), fill_value="0")   #range of values from 2015 to 2016
    newdf.loc[newdf['Property_id'] == '0', 'Property_id'] = pid   #to reassign pid values as fill_value will set it to 0
    newdf = newdf.reindex(newdf.index.rename('Booking_date'))  #renaming of index to booking_date
    finaldf=finaldf.append(newdf) #appending result to dataframe
finaldf.to_excel('C:/Users/Amulya/Desktop/EventsDataAnalysis/Task1/Results/PickupReport.xlsx')  #saving to excel
#finaldf.reset_index()
#len (property_list)