In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('/Users/Amulya/Desktop/EventsDataAnalysis/Task2/Results/RequiredDataSet.csv',header=None, names=['booking_date','channel','property_id','room_name','room_id','check_in','check_out','room_rate','booking_status'])
data.head()

,booking_date,channel,property_id,room_name,room_id,check_in,check_out,room_rate,booking_status
0,2013-06-30T16:35:42+05:30,DIRECT,CH,Superior Room,ST,2013-07-08,2014-04-15,0.0,COMPLETED
1,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
2,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
3,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED
4,2013-02-08T17:06:44+05:30,DIRECT,BB,Standard Sea Facing Room,1F,2014-03-01,2014-04-30,0.0,CANCELLED

In [2]:
dat1 = data['booking_status'].unique()
dat1

array(['COMPLETED', 'CANCELLED', 'WAITLISTED', 'CONFIRMED'], dtype=object)

In [3]:
channelList = data['channel'].unique().tolist()
channelList

['DIRECT', 'TRAVEL AGENTS', 'CORPORATES', 'OTA']

In [4]:
Results = pd.read_excel('/Users/Amulya/Desktop/EventsDataAnalysis/Task2/Results/DataSetWithStayDate.xlsx')

In [5]:
Results.head()

,Booking_date,Booking_status,Channel,Check_in,Check_out,Property_id,Room_details,Room_name,Old_Room_rate,Room_rate,Stay_date
0,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-08
1,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-09
2,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-10
3,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-11
4,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,0.0,2013-07-12

In [6]:
del Results['Old_Room_rate']
Results.head()

,Booking_date,Booking_status,Channel,Check_in,Check_out,Property_id,Room_details,Room_name,Room_rate,Stay_date
0,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-08
1,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-09
2,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-10
3,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-11
4,2013-06-30T16:35:42+05:30,COMPLETED,DIRECT,2013-07-08,2014-04-15,CH,ST,Superior Room,0.0,2013-07-12

In [7]:
scrapyData = pd.read_csv('/Users/Amulya/Desktop/EventsDataAnalysis/Task2/Results/eventData2015.csv',header=None, names=['Day','Date','Event','HolidayIn'])

In [8]:
scrapeResult = scrapyData.dropna()

In [9]:
scrapeResult.head()

,Day,Date,Event,HolidayIn
0,Thursday,Jan-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,Jan-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,Jan-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,Jan-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,Jan-12,Birthday of Swami Vivekananda,West Bengal only.

In [10]:
scrapeResult['Date'] =   '2015-' + scrapeResult['Date']

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [11]:
scrapeResult.head()

,Day,Date,Event,HolidayIn
0,Thursday,2015-Jan-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,2015-Jan-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,2015-Jan-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,2015-Jan-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,2015-Jan-12,Birthday of Swami Vivekananda,West Bengal only.

In [12]:
scrapeResult['Date'] = pd.to_datetime(scrapeResult.Date)
#pd.to_datetime('02/Jan/2015:08:07:32', format='%d/%b/%Y:%H:%M:%S')

C:\Users\Amulya\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [13]:
scrapeResult.head()

,Day,Date,Event,HolidayIn
0,Thursday,2015-01-01,New Years Day,"Arunachal pradesh, Manipur, Meghalaya, Miizora..."
1,Saturday,2015-01-03,Milad-un-Nabi,Birthday of Prophet Muhammad
2,Sunday,2015-01-04,Id-e-Milad,"Delhi, Tamil Nadu, Telangana"
3,Monday,2015-01-05,Guru Gobind Singh Jayanti,Punjab only. Birthday of the tenth and final S...
4,Monday,2015-01-12,Birthday of Swami Vivekananda,West Bengal only.

In [14]:
del scrapeResult['HolidayIn']

In [15]:
scrapeResult.head()

        Day       Date                          Event
0  Thursday 2015-01-01                  New Years Day
1  Saturday 2015-01-03                  Milad-un-Nabi
2    Sunday 2015-01-04                     Id-e-Milad
3    Monday 2015-01-05      Guru Gobind Singh Jayanti
4    Monday 2015-01-12  Birthday of Swami Vivekananda

In [34]:
newResults = Results.filter(['Property_id','Stay_date','Booking_status','Room_name','Room_details','Room_rate','Channel'], axis=1)
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_details,Room_rate,Channel
0,CH,2013-07-08,COMPLETED,Superior Room,ST,0.0,DIRECT
1,CH,2013-07-09,COMPLETED,Superior Room,ST,0.0,DIRECT
2,CH,2013-07-10,COMPLETED,Superior Room,ST,0.0,DIRECT
3,CH,2013-07-11,COMPLETED,Superior Room,ST,0.0,DIRECT
4,CH,2013-07-12,COMPLETED,Superior Room,ST,0.0,DIRECT

In [35]:
del newResults['Room_details']

In [36]:
newResults = newResults[(newResults.Booking_status == 'COMPLETED') | (newResults.Booking_status == 'CONFIRMED')]
newResults.head()

  Property_id   Stay_date Booking_status      Room_name  Room_rate Channel
0          CH  2013-07-08      COMPLETED  Superior Room        0.0  DIRECT
1          CH  2013-07-09      COMPLETED  Superior Room        0.0  DIRECT
2          CH  2013-07-10      COMPLETED  Superior Room        0.0  DIRECT
3          CH  2013-07-11      COMPLETED  Superior Room        0.0  DIRECT
4          CH  2013-07-12      COMPLETED  Superior Room        0.0  DIRECT

In [37]:
newResults = newResults[(newResults.Stay_date >= '2015-01-01') & (newResults.Stay_date <= '2015-12-31')]
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel
12641,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT
12643,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT
13311,VM,2015-05-23,COMPLETED,Standard Room,5500.0,CORPORATES
13312,VM,2015-05-24,COMPLETED,Standard Room,5500.0,CORPORATES
13313,VM,2015-05-23,COMPLETED,Standard Room,5500.0,CORPORATES

In [38]:
newResults['Stay_date'] = pd.to_datetime(newResults.Stay_date)

In [39]:
newResults.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Channel
12641,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT
12643,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.0,DIRECT
13311,VM,2015-05-23,COMPLETED,Standard Room,5500.0,CORPORATES
13312,VM,2015-05-24,COMPLETED,Standard Room,5500.0,CORPORATES
13313,VM,2015-05-23,COMPLETED,Standard Room,5500.0,CORPORATES

In [40]:
del newResults['Channel']

In [55]:
scrapeResult.head()

        Day       Date                          Event
0  Thursday 2015-01-01                  New Years Day
1  Saturday 2015-01-03                  Milad-un-Nabi
2    Sunday 2015-01-04                     Id-e-Milad
3    Monday 2015-01-05      Guru Gobind Singh Jayanti
4    Monday 2015-01-12  Birthday of Swami Vivekananda

In [56]:
res = pd.merge(left=newResults, left_on='Stay_date',right=scrapeResult, right_on='Date')

In [57]:
res.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Day,Date,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.00,Thursday,2015-01-01,New Years Day
1,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.00,Thursday,2015-01-01,New Years Day
2,KR,2015-01-01,COMPLETED,Rasayana Suite 106 T,19387.25,Thursday,2015-01-01,New Years Day
3,SS,2015-01-01,COMPLETED,Konkan Villa,20130.00,Thursday,2015-01-01,New Years Day
4,KK,2015-01-01,COMPLETED,Kalari Suite (016 L),447.35,Thursday,2015-01-01,New Years Day

In [58]:
res1 = res.drop_duplicates()

In [59]:
res1 = res1.sort_values(by = 'Stay_date', ascending=True)
res1.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Day,Date,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.00,Thursday,2015-01-01,New Years Day
165,CL,2015-01-01,COMPLETED,Heritage Bungalow,17675.00,Thursday,2015-01-01,New Years Day
166,EB,2015-01-01,COMPLETED,Standard Room,16500.00,Thursday,2015-01-01,New Years Day
170,SS,2015-01-01,COMPLETED,Konkan Villa,28002.66,Thursday,2015-01-01,New Years Day
173,SC,2015-01-01,COMPLETED,Kettuvallom - One Bed Room,28500.00,Thursday,2015-01-01,New Years Day

In [60]:
del res1['Date']

In [61]:
res1 = res1.reset_index()

In [62]:
res1.head()

,index,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Day,Event
0,0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.00,Thursday,New Years Day
1,165,CL,2015-01-01,COMPLETED,Heritage Bungalow,17675.00,Thursday,New Years Day
2,166,EB,2015-01-01,COMPLETED,Standard Room,16500.00,Thursday,New Years Day
3,170,SS,2015-01-01,COMPLETED,Konkan Villa,28002.66,Thursday,New Years Day
4,173,SC,2015-01-01,COMPLETED,Kettuvallom - One Bed Room,28500.00,Thursday,New Years Day

In [63]:
del res1['index']

In [64]:
res1.head()

,Property_id,Stay_date,Booking_status,Room_name,Room_rate,Day,Event
0,BB,2015-01-01,COMPLETED,Deluxe Sea Facing Suite,39500.00,Thursday,New Years Day
1,CL,2015-01-01,COMPLETED,Heritage Bungalow,17675.00,Thursday,New Years Day
2,EB,2015-01-01,COMPLETED,Standard Room,16500.00,Thursday,New Years Day
3,SS,2015-01-01,COMPLETED,Konkan Villa,28002.66,Thursday,New Years Day
4,SC,2015-01-01,COMPLETED,Kettuvallom - One Bed Room,28500.00,Thursday,New Years Day

In [67]:
# events = res1['Event'].unique().tolist()

In [89]:
# res1['stay_count'] = res1.groupby(['Stay_date'])['Stay_date'].transform('count')

# res2 = res1.drop_duplicates()
# res2

In [69]:
#df = df[df.line_race != 0]
res2 = res1[res1.Day != 'Wednesday']
#res1 = res1.drop(['Wednesday'])
test =  res2.groupby(['Day','Event', 'Stay_date']).count()
test.head()

#test1 = test[(test[Day]=='Monday') & (test[Day]=='Tuesday') & (test[Day]=='Thursday') & (test[Day]=='Friday')]
#test = pd.DataFrame({'count' : res1.groupby(['Day','Event'], as_index=False).size()}).reset_index()
#test1= test.drop_duplicates(['Stay_date'], keep='last')

                                                    Property_id  \
Day    Event                            Stay_date
Friday Christmas Day                    2015-12-25          151
       Foundation of Sri Anandpur Sahib 2015-06-19           64
       Good Friday                      2015-04-03          109
       Idul Juha                        2015-09-25          125
       Jumat-ul-Wida                    2015-07-10           65

                                                    Booking_status  Room_name  \
Day    Event                            Stay_date
Friday Christmas Day                    2015-12-25             151        151
       Foundation of Sri Anandpur Sahib 2015-06-19              64         64
       Good Friday                      2015-04-03             109        109
       Idul Juha                        2015-09-25             125        125
       Jumat-ul-Wida                    2015-07-10              65         65

                                                    Room_rate
Day    Event                            Stay_date
Friday Christmas Day                    2015-12-25        151
       Foundation of Sri Anandpur Sahib 2015-06-19         64
       Good Friday                      2015-04-03        109
       Idul Juha                        2015-09-25        125
       Jumat-ul-Wida                    2015-07-10         65

In [110]:
test1 = test.sort_values(by='Stay_date', ascending=True)
test1

KeyError: 'Stay_date'

In [66]:
# property_id = res1[(res1.Property_id == 'BB')]
# property_id

In [43]:
for i in range(len(res1)):
    if(((res1.Day=="Thursday") or (res1.Day=="Friday")) and (res1.Event != "")):
        print(res1)
    else:
        print ("na")

AttributeError: '_LocIndexer' object has no attribute 'Day'